<!DOCTYPE html>
<html>

<head>
    <title>Đăng nhập</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,
        html {
            height: 100%;
        }

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    </style>
</head>

<body>
    <div class="container-fluid h-100 mt-4">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-sm-4 col-md-3">
                {{#if err_message}}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{err_message}}
                </div>
                {{/if}}

                <form method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control form-control-lg border-right-0 border" placeholder="Tên đăng nhập .."
                                type="text" name="username" autofocus>
                            <span class="input-group-append">
                                <div class="input-group-text bg-white">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control form-control-lg border-right-0 border" placeholder="Mật khẩu .."
                                type="password" name="password">
                            <span class="input-group-append">
                                <div class="input-group-text bg-white">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check"
                            style="display: flex; flex-direction: row; justify-content: space-between;">
                            <div>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <small class="form-check-label" for="exampleCheck1">Duy trì đăng nhập</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <div class="flex-fill ml-1 mt-3">
                            <button class="btn btn-secondary btn-lg" type="submit">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                Đăng nhập
                            </button>
                        </div>
                    </div>
                    <div class="form-group">Quên mật khẩu? <a href="/">Nhấn vào đây</a></div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>