<div class="container mt-5" style="max-width: 60%;">
    <div class="navtab-container">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link active" href="#personal">Cá Nhân</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#security">Khôi phục</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#privacy">Bảo mật</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#myrating">Đánh giá</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#mycredits">Ví tiền</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="personal" class="tab-pane fade in active show">
            <div class="col-md-8 mx-3">
                <br>
                <h4>Thông tin cá nhân</h4>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Họ và tên</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>

                <label for="exampleFormControlInput1">Giới tính</label>
                <div class="form-group d-flex justify-content-column">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Nam
                        </label>
                    </div>
                    <div class="form-check ml-5">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Nữ
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Số điện thoại</label>
                    <input class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Tỉnh/Thành phố</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="" selected="selelected">Chọn tỉnh/thành phố</option>
                        <option>Hồ Chí Minh</option>
                        <option>Hà Nội</option>
                        <option>Vĩnh Long</option>
                        <option>Cần Thơ</option>
                        <option>Trà Vinh</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Quận/Huyện</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="" selected="selelected">Chọn quận/huyện</option>
                        <option>Tp. Vĩnh Long</option>
                        <option>Vũng Liêm</option>
                        <option>Tam Bình</option>
                        <option>Long Hồ</option>
                        <option>Trà Ôn</option>
                        <option>Bình Minh</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Địa chỉ</label>
                    <textarea name="Diachi" id="" class="form-control" cols="30" rows="4"></textarea>
                </div>
                <button type="submit" style="background-color: purple;" class="text-white btn my-4">Cập nhật</button>
            </div>
        </div>
        <div id="security" class="tab-pane fade">
            <div class="col-md-8 mx-3">
                <br>
                <h4>Cài đặt xác thực</h4>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email khôi phục</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Số điện thoại khôi phục</label>
                    <input class="form-control" id="exampleFormControlInput1">
                </div>

                <button type="submit" style="background-color: purple;" class="text-white btn my-4">Cập nhật</button>
            </div>
        </div>
        <div id="privacy" class="tab-pane fade">
            <div class="col-md-8 mx-3">
                <br>
                <h4>Thay đổi mật khẩu</h4>
                <br>
                <form action="/account/change_password" method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nhập mật khẩu hiện tại</label>
                        <input type="password" class="form-control" name="current_password" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nhập mật khẩu mới</label>
                        <input type="password" class="form-control" name="new_password" id="exampleFormControlInput1">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nhập lại mật khẩu mới</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <button type="submit" style="background-color: purple;" class="text-white btn my-4">Cập nhật mật
                        khẩu</button>
                </form>
            </div>
        </div>
        <div id="myrating" class="tab-pane fade">
            <div class="col-sm ml-3 pr-5">
                <br>
                <h4>Đánh giá của tôi</h4>
                <br>
                <p class="mb-4"><b>Tổng lượt đánh giá: <span id="total-rating" class="ml-5"> 8/10</span></b></p>
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="rating-table-head" style="width:15%;">Đánh giá</th>
                            <th class="rating-table-head" style="width:85%;">Tên sản phẩm/Nội dung đánh giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="d-flex justify-content-center">
                                <button disabled="disabled" class="btn btn-success btn-sm"><i
                                        class="fa fa-thumbs-up"></i></button>
                            </td>
                            <td>
                                <p id="product-name" class="mb-2" style="font-size: 14px;"><b>Laptop Lenovo IdeaPad
                                        L340-15IRH 81LK007JVN
                                        Core i7-9750H/ GTX 1050 3GB/ Dos (15.6 FHD
                                        IPS) - Hàng Chính Hãng</b></p>
                                <p id="rating-from-product" style="font-size: 16px;">Tốt</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="d-flex justify-content-center">
                                <button disabled="disabled" class="btn btn-danger btn-sm"><i
                                        class="fa fa-thumbs-down"></i></button>
                            </td>
                            <td>
                                <p id="product-name" class="mb-2" style="font-size: 14px;"><b>Rechargeable Wireless
                                        Mouse Silent Ergonomic Gaming Mice
                                        6 Keys RGB Back-light for Laptop Computer</b></p>
                                <p id="rating-from-product" style="font-size: 16px;">Xấu</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="d-flex justify-content-center">
                                <button disabled="disabled" class="btn btn-success btn-sm"><i
                                        class="fa fa-thumbs-up"></i></button>
                            </td>
                            <td>
                                <p id="product-name" class="mb-2" style="font-size: 14px;"><b>Laptop Lenovo IdeaPad
                                        L340-15IRH 81LK007JVN
                                        Core i7-9750H/ GTX 1050 3GB/ Dos (15.6 FHD
                                        IPS) - Hàng Chính Hãng</b></p>
                                <p id="rating-from-product" style="font-size: 16px;">Tốt</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div id="mycredits" class="tab-pane fade">
            <div class="col-md-8 mx-3">
                <br>
                <h4>Thông tin tín dụng</h4>
                <br>
                <p>Tổng số tiền trong tài khoản:<span id="total-credit" class="ml-5">1 tỷ</span><span id="đ"> đ</span>
                </p>
            </div>
        </div>
    </div>
</div>