{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
  
<script>
  $('#txtDOB').datetimepicker({

    // format: 'd/m/Y H:i'
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });

  function validate() {
    return true;
  }
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

{{!-- <script>
  document.getElementById('submitForm').addEventListener('submit', e => {
    e.preventDefault();
    console.log(123);
    const name = document.querySelector('#name').value;
    const email = document.querySelector('#email').value;
    const captcha = document.querySelector('#g-recaptcha-response').value;
    return fetch('/subscribe', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
      body: JSON.stringify({ name: name, email: email, captcha: captcha })
    })
      //.then(res => res.json())
      .then(function (res) {
        console.log(res);
        return res.json();
      })


      .then(data => {
        console.log(data);
        alert(data.msg);
        if (data.success) return location.reload();
      });
  });
</script>  --}}

<script>
  $(document).ready(function () {
    $('submitForm').submit(function () {
      $(this).ajaxSubmit({
        error: function (xhr) {
          status('Error: ' + xhr.status);
        },
        success: function (response) {
          alert(response.responseDesc);
        }
      });
      //Very important line, it disable the page refresh.
      return false;
    });
  });
</script>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>

{{/section}}
<h3 class="text-dark text-center mt-4">Vui lòng điền đầy đủ thông tin</h3>
<div class="modal-body d-flex justify-content-center">
  <form onsubmit="return validate();" id="submitForm" class="validation" novalidate method="POST" action="/account/register">
    <div class="form-group">
      <label class="text-dark">Họ tên:</label>
      <input class="form-control" type="text" name="fullname" placeholder="Nhập họ tên.." autofocus required>
    </div>
    <div class="invalid-feedback">
        Họ tên không được để trống!
      </div>
    <div class="form-group">
      <label for="txtDOB">Ngày sinh:</label>
      <input type="datetime" class="form-control" id="txtDOB" name="dob" placeholder="Nhập ngày sinh..">
    </div>
    <div class="form-group">
      <label class="text-dark">Địa chỉ:</label>
      <input class="form-control" type="text" name="address" placeholder="Nhập địa chỉ..">
    </div>
    <div class="form-group">
      <label class="text-dark">Email:</label>
      <input class="form-control" type="email" name="email" id="email" placeholder="Nhập email.."required>
      <div class="invalid-feedback">
        Email đang trống hoặc không hợp lê!
      </div>
      <div class="text-danger">{{check_email}}</div>
    </div>
    
    <div class="form-group">
      <input class="form-control" name="type_of_user" placeholder="Chọn loại người dùng.." value="3" type="hidden"></input>
    </div>
    <div class="form-group">
      <label class="text-dark">Tên người dùng:</label>
      <input class="form-control" type="text" name="username" id="username" placeholder="Nhập tên người dùng.." required>
      <div class="invalid-feedback">
        Tên người dùng không được để trống!
      </div>
    </div>

    <div class="form-group">
      <label class="text-dark">Mật khẩu:</label>
      <input class="form-control" type="password" name="password" placeholder="Nhập mật khẩu.." required>
      <div class="invalid-feedback">
        Mật khẩu không được để trống!
      </div>
    </div>
    <div class="form-group">
      <label class="text-dark">Nhập lại mật khẩu:</label>
      <input class="form-control" type="password" name="re_password" placeholder="Nhập lại mật khẩu lần nữa.." required>
       <div class="invalid-feedback">
        Nhập lại mật khẩu lần nữa!
      </div>
      <div class="text-danger">{{check_pass}}</div>
    </div>
    {{!-- style="display: flex; flex-direction: row;" --}}
    <div class="form-check d-flex flex-row">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      
      <div class="text-dark">Bằng việc nhấn vào đây, bạn
        đồng ý về <a class="ml-1" href="https://policies.google.com/terms">Điều khoản & Quyền riêng tư của chúng tôi.</a>
      </div>
    </div>
    <div class="mt-4">
      <div class="g-recaptcha" data-sitekey="6LflcswUAAAAAOaJeUj7zhVh1HwI0K8GfUkTSnfU"></div>
      <br>
      <input form="submitForm" class="btn btn-secondary" type="submit" value="TẠO TÀI KHOẢN">
    </div>
  </form>
</div>

