<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <title>{{title}}</title>
</head>

<body>
    <!-- Header -->
    <nav class="navbar" style="background-color: purple;">
        <button class="btn dropdown-toggle text-light" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" style="font-weight: bold;">DANH MỤC</button>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="#">
                    <i class="fa fa-podcast"></i>
                    Điện Tử</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Điện Thoại Di Động</a></li>
                    <li class="dropdown-item"><a href="#">Máy Tính Xách Tay</a></li>
                    <li class="dropdown-item"><a href="#">Máy Tính Bảng</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="dropdown-item" tabindex="-1" href="#">
                    <i class="fa fa-headphones"></i>
                    Phụ Kiện - Thiết Bị Số</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Tai Nghe</a></li>
                    <li class="dropdown-item"><a href="#">Bàn Phím</a></li>
                    <li class="dropdown-item"><a href="#">Chuột</a></li>
                </ul>
            </li>

            <a class="dropdown-item" tabindex="-1" href="#">
                <i class="fa fa-camera-retro"></i>
                Máy Ảnh - Quay Phim</a>
            <a class="dropdown-item" tabindex="-1" href="#">
                <i class="fa fa-home"></i>
                Nhà Cửa Đời Sống</a>
            <a class="dropdown-item" tabindex="-1" href="#">
                <i class="fa fa-product-hunt"></i>
                Hàng Tiêu Dùng</a>
            <a class="dropdown-item" tabindex="-1" href="#">
                <i class="fa fa-heart"></i>
                Làm Đẹp - Sức Khoẻ</a>
            <a class="dropdown-item" tabindex="-1" href="#">
                <i class="fa fa-cart-plus"></i>
                Thời Trang - Phụ Kiện</a>
            <a class="dropdown-item" tabindex="-1" href="#">
                <i class="fa fa-car"></i>
                Xe Máy - Ô Tô</a>
            <a class="dropdown-item" tabindex="-1" href="#">
                <i class="fa fa-plug"></i>
                Điện Gia Dụng</a>
        </ul>

        </div>
        <a class="nav-item text-white mx-1" href="#" style="font-weight: bold;">
            <i class="fa fa-home"></i>
            TRANG CHỦ</a>
        <form class="form-inline">
            <div class="form-control">
                <div id="searchArea">Tìm sản phẩm hay thương hiệu mong muốn ...</div>
            </div>
            <button class="btn text-light">
                <i class="fa fa-search"></i>
                Tìm kiếm
            </button>
        </form>
        <a class="nav-item text-white" href="#" style="font-weight: bold;">GIỎ HÀNG
            <i class="fa fa-shopping-cart"></i>
        </a>
        <a class="nav-item mr-auto" href="#">
            <div class="icon-bar">
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="google"><i class="fa fa-google"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
            </div>
        </a>
    </nav>
    <div class="container-fluid">
       {{{body}}}
       <footer class="border-top row mt-5">
        <div class="col-18 col-md mt-5">
            <small class="d-block mb-3 text-muted">Sàn đấu giá trực tuyến</small>
            <small class="d-block mb-3 text-muted">&copy; 2019-2020</small>
        </div>
        <div class="col-6 col-md mt-5">
            <h5>Features</h5>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Random feature</a></li>
                <li><a class="text-muted" href="#">Team feature</a></li>
                <li><a class="text-muted" href="#">Stuff for developers</a></li>
                <li><a class="text-muted" href="#">Another one</a></li>
                <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md mt-5">
            <h5>Resources</h5>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md mt-5">
            <h5>About</h5>
            <ul class="list-unstyled">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
        </div>
    </footer>
    </div>
  
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
                // -------------------------------------------------------------

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>