<div class="container">
    <div>
        <h4 id="top5" style="text-align: left;">Lịch sử đấu giá - Laptop Laptop HP xxxx/Core I3 xxxx </h4>
    </div>
    <div class="CSSTableGenerator">
        <table ID="myTable" style="width: 100%;">
            <tr>
                <td>
                    Thời điểm
                </td>
                <td>
                    Người mua
                </td>
                <td>
                    Giá
                </td>
            </tr>
            <tr>
                <td>
                    1/11/2019 10:43
                </td>
                <td>
                    ****Khoa
                </td>
                <td>
                    6,000,000
                </td>
            </tr>
            <tr>
                <td>
                    1/11/2019 9:43
                </td>
                <td>
                    ****Quang
                </td>
                <td>
                    5,900,000
                </td>
            </tr>
            <tr>
                <td>
                    1/11/2019 8:43
                </td>
                <td>
                    ****Tuấn
                </td>
                <td>
                    5,800,000
                </td>
            </tr>
            <tr>
                <td>
                    1/11/2019 7:43
                </td>
                <td>
                    ****Minh
                </td>
                <td>
                    5,700,000
                </td>
            </tr>
        </table>
    </div>
</div>