<div id="demo" class="carousel slide" data-ride="carousel" style="padding-left: 10px;">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.asus.com/media/global/banners/tcpwrq7u6lcctx4r/tcpwrq7u6lcctx4r-0_0_desktop.jpg"
                width=100% height="400">
            <div class="carousel-caption text-left">
                <h3>ASUS EXPERTBOOK Cho Doanh Nhân</h3>
                <p>ProArt StudioBook Pro là một trong những máy tính xách tay mỏng nhất thế giới có tính
                    năng đồ họa NVIDIA® Quadro® RTX, làm cho nó trở thành một thế lực hùng mạnh mang ý tưởng
                    đến với cuộc sống. </p>
                <button class="btn btn-lg btn-primary mb-4">Đấu giá ngay</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.asus.com/media/global/banners/gnzkzdtuu4rueo0k/gnzkzdtuu4rueo0k-0_0_desktop.jpg"
                width=100% height="400">
            <div class="carousel-caption text-left">
                <h3>Lựa Chọn Khác Cho Bạn</h3>
                <p>ProArt StudioBook Pro 17 là một trong những máy tính xách tay mỏng nhất thế giới có tính
                    năng đồ họa NVIDIA® Quadro® RTX, làm cho nó trở thành một thế lực hùng mạnh mang ý tưởng
                    đến với cuộc sống. </p>
                <button class="btn btn-lg btn-primary mb-4">Đấu giá ngay</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.thinkpro.vn/uploads/images/userfiles/san-pham/Asus/P5440/p5440_a13.jpg" width=100%
                height="400">
            <div class="carousel-caption text-right">
                <h3>Thêm Một Lựa Chọn Nữa</h3>
                <p>ProArt StudioBook Pro 17 là một trong những máy tính xách tay mỏng nhất thế giới có tính
                    năng đồ họa NVIDIA® Quadro® RTX, làm cho nó trở thành một thế lực hùng mạnh mang ý tưởng
                    đến với cuộc sống.
                </p>
                <button class="btn btn-lg btn-primary mb-4">Đấu giá ngay</button>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="">
    <div class="card-deck">
        <div class="card"><a href="#">
                <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Đấu giá</a>
                </div>
            </a></div>
        <div class="card mr-auto"><a href="#">
                <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Đấu giá</a>
                </div>
            </a></div>
        <div class="card mr-auto"><a href="#">
                <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Đấu giá</a>
                </div>
            </a></div>
    </div>
    <div class="card-deck mt-2">
        <div class="card mr-auto" style="width: 3rem;"><a href="#">
                <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg;maxHeight=640;maxWidth=550"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Đấu giá</a>
                </div>
            </a></div>
        <div class="card mr-auto" style="width: 3rem;"><a href="#">
                <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg;maxHeight=640;maxWidth=550"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of the card's content.</p>
                    <a href="#" class="btn btn-primary">Đấu giá</a>
                </div>
            </a></div>
    </div>
</div>