<div class="container-fluid px-5 mt-3">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex align-items-center border-right flex-column">
                <div class="card-img p-4 d-flex align-items-center justify-content-center" style="height: 400px;">
                    <img id="main-img" class="imgs"
                        src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg">
                </div>
                <div id="sub-img-group" class="d-flex justify-content-between">
                    <div class="sub-img col-md-4 d-flex align-items-center">
                        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg">
                    </div>
                    <div class="sub-img col-md-4 d-flex align-items-center">
                        <img class="align-center" src="https://i.ebayimg.com/images/g/wokAAOSw6B1dgpZ0/s-l1600.jpg">
                    </div>
                    <div class="sub-img col-md-4 d-flex align-items-center">
                        <img class="align-center" src="https://i.ebayimg.com/images/g/LEsAAOSw-zVdgpZ3/s-l1600.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-right d-flex flex-column">
                <div class="card-body">
                    <h5 class="card-title m-0">Laptop HP 14-ck0135TU (6KD74PA) (14" HD/Pentium 4417U/4GB/500GB HDD/HD
                        610/Win10/1.6 kg)</h5>
                    <p class="card-text"><small class="text-muted">Thời điểm đăng
                            <span class="postTime font-italic">05/03/2019</span></small></p>

                    <p class="mb-1">Giá hiện tại: <span id="recent-price"> 69.000đ </span></p>
                    <p class="mb-1">Giá mua ngay: <span id="buy-now"> 10 tỷ </span></p>
                    <span class="card-text bold">Đấu giá kết thúc sau </span><span id="countDown"></span><br><br>
                </div>
                <div class="card-body">
                    <hr width="90%">
                    <div class="row">
                        <div class="col-md-6">
                            <input id="spinner" type="number" value="50" min="0" step="10" />
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger" style="width: 120px;">
                                <i class="fa fa-gavel"></i> Đấu giá</button>
                        </div>
                    </div>
                    <div class="row">
                        <hr width="90%">
                        <div class="col-md-6 d-flex align-items-center justify-content-center">
                            <div id="favorite">
                                <i class="heart fa fa-heart-o"></i>
                                <span class="ml-2">Yêu thích</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-outline-danger" style="width: 120px;">
                                Mua ngay</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="info col-md-3 d-flex align-content-stretch flex-wrap">
                <div class="card-body border-bottom">
                    <h6 class="card-title">Thông tin người bán</h6>
                    <span class="card-text">Nguyễn Thị Nở</span><br>
                    <span class="card-text">Rating: </span>
                    <b>8/10</b>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Người đặt giá cao nhất hiện tại</h6>
                    <span class="card-text">Lê Văn Chí</span><br>
                    <span class="card-text">Rating: </span>
                    <b>8/10</b>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Thời điểm</th>
                <th scope="col">Người mua</th>
                <th scope="col">Giá</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.categories}}
            <tr>
                <th scope="row">{{BidId}}</th>
                <td>{{Time}}</td>
                <td>{{Bidder}}</td>
                <td>{{Price}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <h4 class="mt-5">SẢN PHẨM CÙNG LOẠI</h4>
    <br><br>
    <div class="CSSTableGenerator">
        <table ID="myTable">
            <tr>
                <td>
                    <div class="card border-0 mr-auto shadow-sm">
                        <a style="color:black; text-decoration: none;" href="items">
                            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg"
                                class="card-img-top">
                            <div class="card-body">
                                <h6 id="nearlyFi" class="card-title">Laptop HP xxxx/Core I3 xxxx</h6>
                                <p id="price">11.900.000đ</p>
                                <small class="text-muted">
                                    <p id="nearlyFi" class="card-text">Người ra giá cao nhất: Chí Phèo</p>
                                    <p id="nearlyFi" class="card-text">Giá mua ngay: xxxxxxxđ</p>
                                    <p id="nearlyFi" class="card-text">Ngày đăng: 1/1/2019</p>
                                    <p id="nearlyFi" class="card-text">Còn lại: 2 ngày </p>
                                    <p id="nearlyFi" class="card-text">Số lượt ra giá: 300 </p>
                                </small>
                                <span class="my-2">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o checked"></span>
                                </span>
                            </div>
                        </a>
                        <div id="favorite">
                            <i class="heart fa fa-heart-o"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-0 mr-auto shadow-sm">
                        <a style="color:black; text-decoration: none;" href="items">
                            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg"
                                class="card-img-top">
                            <div class="card-body">
                                <h6 id="nearlyFi" class="card-title">Laptop HP xxxx/Core I3 xxxx</h6>
                                <p id="price">11.900.000đ</p>
                                <small class="text-muted">
                                    <p id="nearlyFi" class="card-text">Người ra giá cao nhất: Chí Phèo</p>
                                    <p id="nearlyFi" class="card-text">Giá mua ngay: xxxxxxxđ</p>
                                    <p id="nearlyFi" class="card-text">Ngày đăng: 1/1/2019</p>
                                    <p id="nearlyFi" class="card-text">Còn lại: 2 ngày </p>
                                    <p id="nearlyFi" class="card-text">Số lượt ra giá: 300 </p>
                                </small>
                                <span class="my-2">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o checked"></span>
                                </span>
                            </div>
                        </a>
                        <div id="favorite">
                            <i class="heart fa fa-heart-o"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-0 mr-auto shadow-sm">
                        <a style="color:black; text-decoration: none;" href="items">
                            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg"
                                class="card-img-top">
                            <div class="card-body">
                                <h6 id="nearlyFi" class="card-title">Laptop HP xxxx/Core I3 xxxx</h6>
                                <p id="price">11.900.000đ</p>
                                <small class="text-muted">
                                    <p id="nearlyFi" class="card-text">Người ra giá cao nhất: Chí Phèo</p>
                                    <p id="nearlyFi" class="card-text">Giá mua ngay: xxxxxxxđ</p>
                                    <p id="nearlyFi" class="card-text">Ngày đăng: 1/1/2019</p>
                                    <p id="nearlyFi" class="card-text">Còn lại: 2 ngày </p>
                                    <p id="nearlyFi" class="card-text">Số lượt ra giá: 300 </p>
                                </small>
                                <span class="my-2">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o checked"></span>
                                </span>
                            </div>
                        </a>
                        <div id="favorite">
                            <i class="heart fa fa-heart-o"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-0 mr-auto shadow-sm">
                        <a style="color:black; text-decoration: none;" href="items">
                            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6353/6353351_sd.jpg"
                                class="card-img-top">
                            <div class="card-body">
                                <h6 id="nearlyFi" class="card-title">Laptop HP xxxx/Core I3 xxxx</h6>
                                <p id="price">11.900.000đ</p>
                                <small class="text-muted">
                                    <p id="nearlyFi" class="card-text">Người ra giá cao nhất: Chí Phèo</p>
                                    <p id="nearlyFi" class="card-text">Giá mua ngay: xxxxxxxđ</p>
                                    <p id="nearlyFi" class="card-text">Ngày đăng: 1/1/2019</p>
                                    <p id="nearlyFi" class="card-text">Còn lại: 2 ngày </p>
                                    <p id="nearlyFi" class="card-text">Số lượt ra giá: 300 </p>
                                </small>
                                <span class="my-2">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star-o checked"></span>
                                </span>
                            </div>
                        </a>
                        <div id="favorite">
                            <i class="heart fa fa-heart-o"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <h4 class="mt-5">MÔ TẢ SẢN PHẨM</h4>
    <div class="row" style="font-size: 13px;">
        <div class="col-md-8">
            <table id="chi-tiet" cellspacing="0" class="table table-bordered table-detail table-striped">
                <colgroup>
                    <col style="width: 25%;">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td rel="brand">Thương hiệu</td>
                        <td class="last">
                            <a href="">Downy</a>
                        </td>
                    </tr>
                    <tr>
                        <td rel="expiry_time">Hạn sử dụng</td>
                        <td class="last">
                            Xem trên bao bì sản phẩm
                        </td>
                    </tr>
                    <tr>
                        <td rel="sku">SKU</td>
                        <td class="last">
                            9205453356846
                        </td>
                    </tr>
                    <tr>
                        <td rel="capacity">Dung tích</td>
                        <td class="last">
                            1.8L
                        </td>
                    </tr>
                    <tr>
                        <td rel="thanh_phan">Thành phần</td>
                        <td class="last">
                            Nước, Diethylester Dimethyl Ammonium Chloride, Côplymer, Cationic polymer, Formic acid,
                            Hydrlchloric acid,
                            Sodium1-hydroxyethane-1, 1-diphosphnate, Benzyl isothiazolione, Silicone, Hương liệu
                        </td>
                    </tr>
                    <tr>
                        <td rel="huong_dan_su_dung">Hướng dẫn sử dụng</td>
                        <td class="last">
                            <ul>
                                <li>Rót Downy Cuốn hút vào nước xả cuối cùng hoặc vào ngăn đựng nước làm mềm vải của máy
                                    giặt</li>
                                <li>Sau khi xả, vắt khô như thường lệ</li>
                                <li>Đối với giặt tay:&nbsp;Dùng 1/2 nắp Downy cho 15-20 chiếc quần áo, ngâm trong vài
                                    phút, vắt và phơi khô
                                </li>
                                <li>Đối với giặt máy:&nbsp;Dùng 1/2 nắp Downy cho nửa thùng giặt (khoảng 35 lít) hoặc 1
                                    nắp rưỡi cho đầy
                                    thùng giặt (khoảng 52 lít)</li>
                                <li>Để có được tốt nhất cho jeans, chăn, khan,... hãy dùng thêm 1 nắp đầy Downy</li>
                                <li>KHÔNG ĐỔ TRỰC TIẾP LÊN QUẦN ÁO</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td rel="huong_dan_bao_quan">Hướng dẫn bảo quản</td>
                        <td class="last">
                            <ul>
                                <li>Sau mỗi lần sử dụng, bạn hãy đóng chặt nắp lại</li>
                                <li>Bảo quản sản phẩm ở nơi mát, tránh ánh nắng trực tiếp</li>
                                <li>Nếu rơi vào mắt, hãy rửa thật sạch bằng nước</li>
                                <li>ĐỂ XA TẦM TAY TRẺ EM</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-input-spinner@1.12.7/src/bootstrap-input-spinner.min.js"></script>
<script>
    $(".heart.fa").click(function () {
        $(this).toggleClass("fa-heart fa-heart-o");
    });
</script>
<script>
    //Bộ đếm ngày giờ
    var countDownDate = new Date();
    countDownDate.setHours(countDownDate.getHours() + 1);
    countDownDate.setDate(countDownDate.getDate() + 1);
    // cập nhập thời gian sau mỗi 1 giây
    var x = setInterval(function () {

        // Lấy thời gian hiện tại
        var now = new Date().getTime();

        // Lấy số thời gian chênh lệch
        var distance = countDownDate.getTime() - now;

        // Tính toán số ngày, giờ, phút, giây từ thời gian chênh lệch
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        var display = "";
        if (days > 0)
            display = display + days + " Ngày ";
        display = display + hours + " : " + minutes + " : " + seconds;
        // HIển thị chuỗi thời gian trong thẻ p
        document.getElementById("countDown").innerHTML = display;
        // Nếu thời gian kết thúc, hiển thị chuỗi thông báo
        if (distance < 0) {
            clearInterval(x);
        }
    }, 1000);
</script>
<script>
    //quantity button
    $("input[type='number']").inputSpinner();
</script>
<script>
    //select image
    var mainImg = document.getElementById('main-img');
    var subImgs = document.getElementById('sub-img-group').getElementsByClassName('sub-img');
    var i;
    subImgs[0].addEventListener('click', function () {
        mainImg.src = subImgs[0].getElementsByTagName('img')[0].src;
    });
    subImgs[1].addEventListener('click', function () {
        mainImg.src = subImgs[1].getElementsByTagName('img')[0].src;
    });
    subImgs[2].addEventListener('click', function () {
        mainImg.src = subImgs[2].getElementsByTagName('img')[0].src;
    });
</script>