<div class="container mt-2" style="max-width: 60%;">
    <form class="needs-validation" novalidate>
        <div id="newproduct">
            <div>
                <br>
                <h4 style="text-align: center;">Thông tin sản phẩm</h4><br>
                <div class="form-group">
                    <label for="validationTooltip01">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="validationTooltip01 " placeholder="Nhập tên sản phẩm"
                        required>
                    <div class="invalid-feedback">
                        Vui lòng nhập tên sản phẩm.
                    </div>
                </div>
               <div class="fields mb-3">
                    <label for="exampleFormControlFile1">Chọn hình ảnh (ít nhất 3 hình)</label>
                    <input type="file" id="files" name="files[]" accept="image/*, video/*" multiple>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Giá khởi điểm</label>
                    <input type="number" min="0" class="form-control" id="exampleFormControlInput1" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập giá khởi điểm.
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Bước giá</label>
                    <input type="number" min="0" class="form-control" id="exampleFormControlInput1" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập bước giá.
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Giá mua ngay (nếu có)</label>
                    <input type="number" min="0" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mô tả</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        Vui lòng nhập mô tả.
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Tự động gia hạn?</label>
                </div>
                <button type="submit" class="btn my-2" style="background-color: purple; color:white">Đăng sản
                    phẩm</button>
            </div>
        </div>
    </form>
</div>

<script>
    //Multiple image preview and remove
    $(document).ready(function () {
        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {
                var files = e.target.files,
                    filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        $("<span class=\"pip\">" +
                            "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
                            "<br/><span class=\"remove\"> &times; </span>" +
                            "</span>").insertAfter("#files");
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                        });

                    });
                    fileReader.readAsDataURL(f);
                }
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
    });
</script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>