<div class="container mt-2" style="max-width: 60%;">
    <form class="needs-validation" novalidate method="POST">
        <div id="newproduct">
            <div>
                <br>
                <h4 style="text-align: center;">Thông tin danh mục</h4><br>
                <div class="form-group">
                    <label for="txtCatId">#</label>
                    <input type="text" class="form-control" id="txtCatId" name="id" readonly
                        value="{{this.category.id}}">
                </div>
                <div class="form-group">
                    <label for="catNam">Tên danh mục</label>
                    <input type="text" class="form-control" id="catName " placeholder="Nhập tên danh mục"
                        name="name_category" required value="{{this.category.name_category}}">
                    <div class="invalid-feedback">
                        Vui lòng nhập tên danh mục.
                    </div>
                </div>
                <button type="submit" class="btn my-2" style="background-color: purple; color:white"
                    formaction="/admin/category/patch">
                    <i class="fa fa-check mr-1" aria-hidden="true"></i> Lưu </button>

                <button type="submit" class="btn my-2 btn-outline-danger" formaction="/admin/category/delete">
                    <i class="fa fa-check mr-1" aria-hidden="true"></i> Xóa </button>
            </div>
        </div>
    </form>
</div>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>